div#title{
font-family: Fantasy;
height: 100px;
width: 800px;
background-color: black;
border-radius: 25px;
padding: 25px;
border:5px solid #ffd000;
}

div#block{
font-family: Fantasy;
width: 600px;
margin-top:20px;
margin-right: 50px;
margin-left: 50px;
padding: 25px;
background-color: black;
border-radius: 25px;
border: 5px solid #ffd000;
color: #ffd000;
}

div#block2{
font-family: Fantasy;
width: 600px;
margin-top:20px;
margin-right: 50px;
margin-left: 50px;
padding: 25px;
background-color: black;
border-radius: 25px;
border: 5px solid #ffd000;
color: white;
}

.btn{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: black;
border-radius: 25px;
padding: 30px;
border:5px solid #ffd000;
color: white;
font-size: 35px;
transition-duration: 0.5s;
}

.btn:hover{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: white;
border-radius: 25px;
padding-top: 30px;
border:5px solid #aa3cff;
color: black;
}


footer{
color: white;
font-size: 10px;
}





.btn#bruno{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: black;
border-radius: 25px;
padding: 30px;
border:5px solid #c72717;
color: white;
font-size: 35px;
transition-duration: 0.5s;
}

.btn:hover#bruno{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: white;
border-radius: 25px;
padding-top: 30px;
border:5px solid #c72717;
color: black;
}





.btn#strawberry{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: black;
border-radius: 25px;
padding: 30px;
border:5px solid #79915f;
color: white;
font-size: 35px;
transition-duration: 0.5s;
}

.btn:hover#strawberry{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: white;
border-radius: 25px;
padding-top: 30px;
border:5px solid #79915f;
color: black;
}





.btn#emil{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: black;
border-radius: 25px;
padding: 30px;
border:5px solid #fffb00;
color: white;
font-size: 35px;
transition-duration: 0.5s;
}

.btn:hover#emil{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: white;
border-radius: 25px;
padding-top: 30px;
border:5px solid #fffb00;
color: black;
}





.btn#fel{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: black;
border-radius: 25px;
padding: 30px;
border:5px solid #2B4A7F;
color: white;
font-size: 35px;
transition-duration: 0.5s;
}

.btn:hover#fel{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: white;
border-radius: 25px;
padding-top: 30px;
border:5px solid #2B4A7F;
color: black;
}





.btn#artur{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: black;
border-radius: 25px;
padding: 30px;
border:5px solid #959595;
color: white;
font-size: 35px;
transition-duration: 0.5s;
}

.btn:hover#artur{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: white;
border-radius: 25px;
padding-top: 30px;
border:5px solid #959595;
color: black;
}





.btn#stan{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: black;
border-radius: 25px;
padding: 30px;
border:5px solid #3d7b86;
color: white;
font-size: 35px;
transition-duration: 0.5s;
}

.btn:hover#stan{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: white;
border-radius: 25px;
padding-top: 30px;
border:5px solid #3d7b86;
color: black;
}





.btn#ocean{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: black;
border-radius: 25px;
padding: 30px;
border:5px solid #ffffff;
color: white;
font-size: 35px;
transition-duration: 0.5s;
}

.btn:hover#ocean{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: white;
border-radius: 25px;
padding-top: 30px;
border:5px solid #ffffff;
color: black;
}





.btn#milo{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: black;
border-radius: 25px;
padding: 30px;
border:5px solid #97cf3a;
color: white;
font-size: 35px;
transition-duration: 0.5s;
}

.btn:hover#milo{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: white;
border-radius: 25px;
padding-top: 30px;
border:5px solid #97cf3a;
color: black;
}





.btn#vincent{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: black;
border-radius: 25px;
padding: 30px;
border:5px solid #016E0A;
color: white;
font-size: 35px;
transition-duration: 0.5s;
}

.btn:hover#vincent{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: white;
border-radius: 25px;
padding-top: 30px;
border:5px solid #016E0A;
color: black;
}





.btn#gabriel{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: black;
border-radius: 25px;
padding: 30px;
border:5px solid #AF9ED6;
color: white;
font-size: 35px;
transition-duration: 0.5s;
}

.btn:hover#gabriel{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: white;
border-radius: 25px;
padding-top: 30px;
border:5px solid #AF9ED6;
color: black;
}




.btn#astrapi{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: black;
border-radius: 25px;
padding: 30px;
border:5px solid #99FF7F;
color: white;
font-size: 35px;
transition-duration: 0.5s;
}

.btn:hover#astrapi{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: white;
border-radius: 25px;
padding-top: 30px;
border:5px solid #99FF7F;
color: black;
}




.btn#savannah{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: black;
border-radius: 25px;
padding: 30px;
border:5px solid #EF6F6C;
color: white;
font-size: 35px;
transition-duration: 0.5s;
}

.btn:hover#savannah{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: white;
border-radius: 25px;
padding-top: 30px;
border:5px solid #EF6F6C;
color: black;
}





.btn#crystal{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: black;
border-radius: 25px;
padding: 30px;
border:5px solid #583d3b;
color: white;
font-size: 35px;
transition-duration: 0.5s;
}

.btn:hover#crystal{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: white;
border-radius: 25px;
padding-top: 30px;
border:5px solid #583d3b;
color: black;
}





.btn#xena{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: black;
border-radius: 25px;
padding: 30px;
border:5px solid #587E5C;
color: white;
font-size: 35px;
transition-duration: 0.5s;
}

.btn:hover#xena{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: white;
border-radius: 25px;
padding-top: 30px;
border:5px solid #587E5C;
color: black;
}






.btn#chilli{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: black;
border-radius: 25px;
padding: 30px;
border:5px solid #583D3B;
color: white;
font-size: 35px;
transition-duration: 0.5s;
}

.btn:hover#chilli{
text-decoration: none;
font-family: Fantasy;
height: 75px;
width: 500px;
background-color: white;
border-radius: 25px;
padding-top: 30px;
border:5px solid #583D3B;
color: black;
}

